* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
#node {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 4px;
}
.value {
    padding: 5px;
    position: absolute;
    background-color: #fff;
}
svg {
    height: 99%;
    width: 100%;
}
svg line {
    stroke:#000;
    stroke-width: 5px;
}
.buttons {
    position: absolute;
    z-index:1000;
}
.clear, 
.send {
    
    display: inline-block;
    background: #3F8CDC;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}